html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --toastify-z-index: 10;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-prompt,
.Toastify__toast-body {
  font-family: "Prompt", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Toastify__toast-body {
  @apply text-sm;
}
.font-sarabun {
  font-family: "Sarabun", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.toastui-editor-contents {
  font-family: "Sarabun", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

.toastui-editor-contents p {
  margin: 15px 0;
}

.toastui-editor-contents form p,
.toastui-editor-contents .situation p {
  margin: 0 0;
}

.form-container {
  @apply gap-3 sm:gap-4 sm:grid print:grid flex flex-col justify-center;
  grid-template-columns: max-content 1fr;
}
.form-container > *:nth-child(odd) {
  @apply md:mr-8 print:mr-10;
}
.form-container > *:nth-child(even) {
  @apply w-full;
}

.situation {
  @apply gap-2 grid;
  grid-template-columns: auto minmax(100px, 1fr);
}
.situation > *:nth-child(odd) {
  @apply mr-2 sm:mr-4 font-bold py-0.5;
}
.situation > *:nth-child(even) {
  @apply w-full py-0.5;
}
.toastui-editor-contents ul > li::before {
  margin-top: 7.5px;
  width: 6px;
  height: 6px;
}

table {
  @apply border border-collapse w-full text-center table-auto mx-auto overflow-hidden text-sm sm:text-base;
}
table > thead {
  @apply bg-gray-50;
}
table tr {
  @apply border;
}
table th,
td {
  @apply px-4 py-2 border whitespace-nowrap;
}
table > tbody > tr {
  @apply hover:bg-gray-100 hover:cursor-pointer;
}

.input {
  @apply bg-white disabled:bg-gray-100 px-2 py-2 font-light border rounded-md border-gray-400 hover:ring-2 hover:ring-blue-300 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent;
}

.preview {
  @apply truncate;
}
.preview .paragraph,
.preview li,
.preview ol {
  @apply truncate;
}
.preview > ol {
  @apply list-decimal list-inside leading-6;
}

.control-btn {
  @apply flex justify-center items-center gap-2 focus:outline-none px-3 py-2 rounded;
}
.control-btn > svg {
  @apply w-6 h-6 lg:h-5 lg:w-5;
}
.control-btn > span {
  @apply hidden sm:block;
}

.swiper {
  position: static;
  @apply w-[65%] sm:w-[75%] md:w-[80%] lg:w-[70%] xl:w-[80%];
}

.item-circle {
  @apply flex items-center justify-center h-11 w-11 pt-0.5 rounded-full;
}

.swiper-button-prev,
.swiper-button-next {
  @apply rounded-full border border-gray-500 h-11 w-11;
}

.swiper-button-prev:not(.swiper-button-disabled),
.swiper-button-next:not(.swiper-button-disabled) {
  @apply hover:bg-gray-200;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-gray-600;
  zoom: 0.4;
}

.swiper-button-prev:after {
  @apply -ml-1.5;
}
.swiper-button-next:after {
  @apply ml-1;
}

.quiz-form span.mfrac {
  zoom: 1.25;
}

input[type="radio"] {
  @apply text-quiz-blue-500 focus:ring-quiz-blue-500;
}
