@media print {
  header,
  footer,
  aside,
  … {
    display: none;
  }
  .printable {
    @apply border border-gray-400 rounded;
  }
}

@page {
  margin: 1.5cm 1.5cm 1.5cm 1.5cm;
}

@page: last {
  margin: 5cm;
}

.print .toastui-editor-custom-block-view {
  padding: 0;
}

.print div.paragraph {
  @apply space-y-2;
}

.print br.ProseMirror-trailingBreak {
  display: none;
}
